
main{
  height: 100vh;
  background-color: #3B3B3B; 
  width: 98vw;
  overflow-y: auto;
  padding: 1rem;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}